

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>PIZZA</strong><br>
    <ion-label [routerLink]="['/apresenta']">CRIE SUA PRÓPRIA PIZZA</ion-label>
  </div>

  <!--ion-content>
    <ion-slides pager="true" [options]="slideConfig">
      <ion-slide>
    <swiper-container>
      <swiper-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/destino.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="subtitulo">Coisas que você pode fazer</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="titulo">Encontre seus sabores</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="subtitulo">Peqgue facilmente seus sabores</ion-label><br>
              <ion-label class="subtitulo">Nós encontraremos uma pizza igual a sua procura</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/misterio.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="subtitulo">Coisas que você pode fazer</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="titulo">Encontre seus sabores</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="subtitulo">Peqgue facilmente seus sabores</ion-label><br>
              <ion-label class="subtitulo">Nós encontraremos uma pizza igual a sua procura</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/sentinela.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="subtitulo">Coisas que você pode fazer</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="titulo">Encontre seus sabores</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="subtitulo">Peqgue facilmente seus sabores</ion-label><br>
              <ion-label class="subtitulo">Nós encontraremos uma pizza igual a sua procura</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="botao" shape="round" [routerLink]="['/login']">Começar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>

    ion-slides{
    height: 100%;
    --bullet-background-active: white;
    --bullet-background: white;
}

ion-content{
    --background: red;
}

ion-label {
    color: white;
}

.titulo{
    font-size: larger;
    font-weight: bolder;
}

.subtitulo{
    font-size: small;
}

.botao{
    --background: white;
    color: black;
}


  </ion-content-->



</ion-content>
